@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global look for entire app */
body {
  @apply font-sans bg-slate-50 text-slate-900;
}

/* When html has class="dark" */
:root.dark body {
  @apply bg-slate-950 text-slate-50;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 8px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}